@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  color: #fff;
  align-items: center;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
.mobile-nav {
  position: fixed;
  background-color: #1a1a1a;
  width: 90%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  transform: translateX(-100%);
  transition: all 300ms ease-out;
}
.mobile-nav-open {
  transform: translateX(0%);
}
.mobile-nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 10px;
  margin-top: 20px;
}
.mobile-nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 12px;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 300ms ease-out;
  font-weight: 600;
}

.mobile-nav-link:hover {
  background-color: #f7ab10;
  color: black;
}
.mobile-nav-icon {
  cursor: pointer;
  transform-origin: center;
  transition: all 300ms ease-out;
}
.mobile-nav-icon:hover {
  transform: scale(1.05);
}
.mobile-nav-open-icon {
  margin-top: 20px;
  cursor: pointer;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
